/*Así se comenta en css*/

.image-home {
    width: 100%;
    /*height: 100%;*/
}

.color-title2 {
    color: rgb(255, 255, 255);
    padding: 15px 10px 5px 10px;
}
.navbar-brand {
    padding: 10px 10px 10px 10px;
}

.nav-item-padding {
    padding: 10px 10px 10px 10px;
}

.btn-padding-inicio {
    padding: 20px 1px 1px 1px;
}

.jumbotron {
    background-color: #0f1450;
    color: rgb(216, 29, 91);
    padding: 10px 10px 10px 10px;
    margin-top: 66px;
}

.seccion1 {
    padding: 50px 1px 20px 1px;
}

.breadcrumb {
    padding: 40px 1px 1px 10px;
}

.texto-about {
    padding: 50px 10px 10px 10px;
}

.btn {
    color: rgb(252, 252, 252);
    background-color: rgb(216, 29, 91);
}

.btn-reserva {
    width: 100%;
    /*border-radius: 0;*/
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 5px 2px 5px;*/
    margin-top: 10px;
}

footer {
    padding: 70px 25px 70px 25px;
    background-color: rgb(245, 245, 245);
    margin-bottom: 0px;
    margin-top: 39px;
}

.footer-address-icon {
    padding-right: 10px;
}