.image-home {
  width: 100%;
  /*height: 100%;*/ }

.color-title2 {
  color: white;
  padding: 15px 10px 5px 10px; }

.navbar-brand {
  padding: 10px 10px 10px 10px; }

.nav-item-padding {
  padding: 10px 10px 10px 10px; }

.btn-padding-inicio {
  padding: 20px 1px 1px 1px; }

.jumbotron {
  background-color: #0f1450;
  color: #d81d5b;
  padding: 10px 10px 10px 10px;
  margin-top: 66px;
  margin-bottom: 0px; }

.seccion1 {
  padding: 50px 1px 20px 1px; }

.breadcrumb {
  padding: 40px 1px 1px 10px; }

.texto-about {
  padding: 50px 10px 10px 10px; }

.btn {
  color: #fcfcfc;
  background-color: #d81d5b; }

.btn-reserva {
  width: 100%;
  /*border-radius: 0;*/ }

.card-hotel {
  flex: 1 200px;
  /*padding: 2px 5px 2px 5px;*/
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding: 70px 25px 70px 25px;
  background-color: whitesmoke;
  margin-top: 39px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

/*Esto es un comentario*/
