@pink: #d81d5b;
@blue: #0f1450;

.margenes(@top: 0px, @bottom 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.image-home {
    width: 100%;
    /*height: 100%;*/ }
  
  .color-title2 {
    color: white;
    padding: 15px 10px 5px 10px; }
  
  .navbar-brand {
    padding: 10px 10px 10px 10px; }
  
  .nav-item-padding {
    padding: 10px 10px 10px 10px; }
  
  .btn-padding-inicio {
    padding: 20px 1px 1px 1px; }
  
  .jumbotron {
    background-color: @blue;
    color: @pink;
    padding: 10px 10px 10px 10px;
    .margenes(50px, 0px); }
  
  .seccion1 {
    padding: 50px 1px 20px 1px; }
  
  .breadcrumb {
    padding: 40px 1px 1px 10px; }
  
  .texto-about {
    padding: 50px 10px 10px 10px; }
  
  .btn {
    color: #fcfcfc;
    background-color: @pink; }
  
  .btn-reserva {
    width: 100%;
    /*border-radius: 0;*/ }
  
  .card-hotel {
    flex: 1 200px;
    /*padding: 2px 5px 2px 5px;*/
    .margenes(10px, 0px); }
  
  footer {
    padding: 70px 25px 70px 25px;
    background-color: whitesmoke;
    .margenes(39px, 0px); }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  /*Esto es un comentario*/